<!DOCTYPE html>
<html>

<head>
    <title>Textimo LivePage</title>
</head>

<body>
    <p id="live_content"></p>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        //receive livecontent from socket and print the message in the console
        socket.on('livecontent', function(data) {
            document.getElementById("live_content").innerHTML = data;
        });

    </script>
</body>

</html>