<!DOCTYPE html>
<html>

<head>
    <title>Textimo LivePage</title>

    <%- "<style>" %>
         <%= styles %>
    <%- "</style>" %>
</head>


<body>
    <div class="background_gradient align-content-middle">
        <h2 id="live_title" class="align-content-class title-style-class"></h2>
        <p id="live_content" class="align-content-class text-style-class"></p>
        <h3 id="current_verse_number" class="align-content-class text-style-class verse-nb-class"></h3>
    </div>
        

    <script src="/socket.io/socket.io.js"></script>
    <script>
        //socket io
        var socket = io();

        //receive livecontent from socket and print the message in the console
        socket.on('livecontent', function(data) {
            document.getElementById("live_content").innerHTML = data;
        });

        socket.on('livetitle_verseNumber', function(data) {
            document.getElementById("live_title").innerHTML = data.title;
            document.getElementById("current_verse_number").innerHTML = data.verse_number + " din " + data.total_num_lyrics;
        });

        //receive the refresh page signal from socket and refresh the page
        socket.on('refresh_livepage', function(data) {
            if (data == "begin refresh") {
                location.reload();
            }
        });

    </script>
</body>
</html>