<!DOCTYPE html>
<html>

<head>
    <title>Textimo LivePage</title>

    <%- "<style>" %>
         <%= styles %>
    <%- "</style>" %>
</head>


<body>
    <div class="background_gradient align-content-middle">
        <h2 id="live_title" class="align-content-class title-style-class"></h2>
        <p id="live_content" class="align-content-class text-style-class"></p>
        <h3 id="current_verse_number" class="align-content-class text-style-class verse-nb-class"></h3>
    </div>
        
    <!--
        WARNING: the socket.io library is loaded only on localhost. To us the library outside you need to specify the full IP
        address of the server. For example: http://

        IN PRODUCTION: the 172.24.1.1 IP must be used instead of localhost
    -->


    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<script src="http://192.168.1.4:3000/socket.io/socket.io.js"></script>-->
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

    <script>
        //socket io
        var socket = io();

        //receive livecontent from socket and print the message in the console
        socket.on('livecontent', function(data) {
            document.getElementById("live_content").innerHTML = data;
        });

        socket.on('livetitle', function(data) {
            document.getElementById("live_title").innerHTML = data;
        });

        socket.on('livesongnumber', function(data) {
            document.getElementById("current_verse_number").innerHTML = data;
        });

        socket.on('livetitle_verseNumber', function(data) {
            document.getElementById("live_title").innerHTML = data.title;
            document.getElementById("current_verse_number").innerHTML = data.verse_number + " din " + data.total_num_lyrics;
        });

        //receive the refresh page signal from socket and refresh the page
        socket.on('refresh_livepage', function(data) {
            if (data == "begin refresh") {
                location.reload();
            }
        });

    </script>
</body>
</html>